.default-btn {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;

  font-size: 2rem;

  display:flex;
  justify-content: center;
  align-items: center;

  background-color: green;
  border: none;
  outline: none;
  color: white;
}