@import "../../style/variables";

.card {
  position: relative;

  width: 100%;
  min-height: 4rem;

  color: white;

  border-radius: 1rem;
  background-color: $shadow;
  box-shadow: 2px 2px 2px $white-shadow;
}
