.faq {
  padding: 2rem;
  color: white;
  list-style: none;
  &__item {
    .question {
      font-size: 1.25rem;
      text-transform: uppercase;
      border-bottom: 1px solid white;

      &::before {
        content: ">";
      }
    }
    .answer {
      text-align: justify;
      color: rgba(255,255,255,.75);
    }
  }
}
