.routine {
  box-sizing: border-box;

  width: 100%;

  border-radius: 1rem;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: .5rem;

  padding: 1rem;

  overflow-x: hidden;
  overflow-y: auto;

  .play {
    position: fixed;
    bottom: 2rem;
    right:0%;
    transform: translateX(-50%);

    width: 4rem;
    height: 4rem;
    border-radius: 50%;

    font-size: 2rem;

    display:flex;
    justify-content: center;
    align-items: center;

    background-color: green;
    border: none;
    outline: none;
    color: white;
  }

  .reset {
    position: fixed;
    bottom: 2rem;
    right:5rem;
    transform: translateX(-50%);

    width: 4rem;
    height: 4rem;
    border-radius: 50%;

    font-size: 2rem;

    display:flex;
    justify-content: center;
    align-items: center;

    background-color: grey;
    border: none;
    outline: none;
    color: white;

  }

  .counter {
    position: fixed;
    bottom: 2rem;
    left: 2rem;
    color: white;
  }
}
