.routine {
  color: white;
  box-sizing: border-box;

  width: 100%;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem;

  padding: 1rem;

  overflow-x: hidden;
  overflow-y: auto;

  &__title {
    font-size: 1.25rem;
  }

  .counter {
    position: fixed;
    bottom: 2rem;
    left: 2rem;
    color: white;
  }
}
