@import "./style/variables";


.App {
  display: grid;
  grid-template-rows: 1fr 5rem;

  width: 100%;
  box-sizing: border-box;

  .button-bar {
    position: fixed;
    bottom: 0;
    width: 100%;

    display: grid;
    grid-template-areas: "pause time play";
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;

    background-color: $main-color;
    box-shadow: 0px -2px 5px $white-shadow;

    padding: 1rem;

    * {
      margin: auto;
    }

    .counter{
      color: white;
      font-weight: 700;
    }
  }
}
